<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Utilities.Reporting"/>
</listeners>
  <test thread-count="5" name="Test">
<parameter name="browser" value="chrome" />
    <classes>
      <class name="TestMethods.Tests_Login"/>
	  <class name="TestMethods.Tests_OTP"/>
	  <class name="TestMethods.Tests_Dashboard"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
